.main {
  width: 100%;
  height: 100vh;
  padding: 10% 40%;
  background-color: hsl(229, 59%, 59%);
  display: flex;
  z-index: -1;
}

.calculator {
  align-items: center;
  z-index: 0;
  position: fixed;
  background-color: rgb(49, 207, 235);
  width: 20%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  border-radius: 25px;
  padding: 2rem 1rem;
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.7), inset -2px -2px 3px rgba(0, 0, 0, 0.1), 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.history {
  position: absolute;
  width: 20%;
  height: 60vh;
  gap: 5rem;
  background-color: rgb(174, 242, 242);
  border-radius: 25px;
  padding: 2rem 1rem;
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.7), inset -2px -2px 3px rgba(0, 0, 0, 0.1), 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: 1s ease-in-out;
  overflow: hidden;
}

.history.active {
  transform: translateX(-90%);
}

.history-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.history .close-button {
  height: 2rem;
  width: 2rem;
  opacity: 0;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  transition: 0.7s linear;
}

.history .close-button.active {
  opacity: 1;
}

.history .close-button .line {
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background-color: rgb(0, 0, 0);
}

.history .close-button .line:first-child {
  transform: rotate(-45deg);
}

.history .close-button .line:last-child {
  transform: rotate(45deg);
}

.history-content div {
  margin-top: 1.5rem;
  border: 1px solid black;
  width: 90%;
  background-color: #97e6bd;
}

.history-content p {
  width: 100%;
}

.icon-menu {
  align-items: flex-start;
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.7), inset -2px -2px 3px rgba(0, 0, 0, 0.1), 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: 8rem;
  height: 10%;
  position: absolute;
  left: 37%;
  top: 25%;
  z-index: 0;
  border-radius: 25px;
  background-color: rgb(80, 247, 244);
  display: flex;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.icon-menu.active {
  transform: translateX(50%);
}

.icon-menu svg {
  width: 40%;
}

.text-input {
  width: 90%;
  height: 30%;
  border: 1px solid black;
  border-radius: 15px;
}

.text-input input {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 2.4rem;
  font-family: "Poppins", sans-serif;
}

.text-input input:focus {
  outline: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
  width: 100%;
}

.button {
  height: 4rem;
  width: 20%;
}

.button button {
  padding: 10%;
  width: 100%;
  border-radius: 25px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  height: 100%;
  background-color: hsl(161, 98%, 61%);
  border: none;
  box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.7), inset -2px -2px 3px rgba(0, 0, 0, 0.1), 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in;
}

.button button:hover {
  background-color: rgb(160, 246, 240);
  box-shadow: inset 2px 2px 4px rgba(120, 120, 120, 0.4), inset -3px -3px 3px rgba(255, 255, 255, 0.4);
}

/*# sourceMappingURL=app.css.map */
